@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.video{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: -100;
    right: 0;
}

.header{
    width: 100%;
    height: auto;
    padding: 1rem;
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header h2{
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 3rem;

}


.header a{
    color: white;
    font-size: 1.8rem;
    padding-left: 2rem;
    font-family: 'Oleo Script Swash Caps',cursive;
    font-weight: lighter;
}
















@media (min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}
    

@media (max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}